<h1 class="title is-2">Welcome
  <%=@user.username%>!</h1>

<div class="columns is-multiline">
  <div class="column">
    <div class="box">
      <h2 class="subtitle is-3">
        <%= link_to "Create new post", new_user_post_path(@user) %></h2>
    </div>
  </div>
  <div class="column">
    <div class="box">
      <h2 class="subtitle is-3">Karma - Karma points</h2>

    </div>
  </div>
</div>
<%if @user.posts.count > 0%>
  <div class="box">
    <h2 class="subtitle is-3">Your posts:</h2>
    <%@user.posts.each do |post|%>
      <p><%= link_to post.title, user_post_path(post.user,post.id) %></p>
    <%end%>
  </div>
<%end%>
<%if @user.comments.count > 0%>
  <div class="box">
    <h2 class="subtitle is-3">Your comments:</h2>
    <%@user.comments.each do |comment|%>
      <p><%= comment.content %></p>
    <%end%>
  </div>
<%end%>
