<div class="box">
  <h1 class="title is-2">Post by <%=@post.user.username%></h1>
  <div class="box">
    <h2 class="subtitle is-4"><%=@post.title%></h2>
    <hr>
    <p><%=@post.content%></p>
  </div>



</div>
