/*
*= require bulma
*/

html {
  /* height: 100%; */
  background: url(https://imgur.com/YJTp55G.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar-text {
  color: #FFF;
  background-color: #e95420;
  text-shadow: #000 0 0 15px;
}

.page{ height: 150%;}

.terms-text {
  height: 405px;
  overflow: auto;
}

.sticky {
  width:100%;
 padding:20px;
 padding-bottom:16px;
 color:black;
 font-size:14px;
 text-align:center;
 position:fixed;
 bottom:0;
 left:0;
}

.sticky-navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

a.facebook:before {
    font-family: FontAwesome;
    color: rgb(59, 89, 152);
    content: "\f082";
}

a.google::before{
  font-family: FontAwesome;
  content: "\f0d4";
  color: rgb(219, 68, 55);
}
